body {
    padding-top: 0px;
    padding-bottom: 20px;
}

.body-content {
    padding-top: 20px;
}

.cookieConsent {
    /*top: 56px;*/
}

.coverimage {
    margin: 0;
    padding: 0;
}

.coverimage > img {
    object-fit: cover;

    width: 100%;
    height: 150px;
}
