@page "{slug?}"
@model lrndrpub.Pages.Admin.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h2>Profile</h2>
@Model.Author.Fullname

<pre>
Delete user if admin or self
Change password if admin or self
List posts
List pages
List comments
</pre>

