@media screen and (min-width: 992px) {
    .admmenu {
        width: 4.5rem;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .admin-content {
        position: relative;
        padding-left: 4.5rem;
    }

    .edit-settings {
        width: 15rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

html, body {
    height: 100vh;
}

.admin-page {
    height: 100vh;
}

    .admin-content {
        /*padding-top: 1rem;
    padding-bottom: 1rem;*/
        height: 100%;
    }

    .admin-padding {
        padding: 1rem;
    }

.cookieConsent {
}

.admmenu {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #333;
    color: #999;
}

.admmenu-item {
    height: 4.5rem;
    width: 100%;
}

.admmenu-item-link {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
    color: #fff;
    opacity: 0.65;
}

.admmenu-item-link:hover {
    color: #fff;
    opacity: 1;
}

.admmenu-item-icon {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#editForm {
    height: 100%;
    display: flex;
    flex-flow: column;
}

#editForm .editor-container {
    display: flex;
    flex-grow: 1 !important;
}

    #editForm .trumbowyg-box, #editForm .trumbowyg-editor {
        display: flex;
        flex-flow: column;
    }

    #editForm .trumbowyg-box, #editForm .trumbowyg-editor {
        flex-grow: 1;
    }

.edit-settingsbar {
    margin: 0;
    padding: 1rem;
    background-color: #333;
    color: #eee;
}

.edit-top {
    padding: 1rem;
    background-color: #6c757d;
}

.edit-top #collapseSettings {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 1px solid #eee;
}

.edit-top .edit-buttons {
    padding-top: 1rem;
    padding-right: 1rem;
}

.edit-title input,
.edit-slug input {
    width: 100%;
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    background: none;
    color: #eee;
    outline: none !important;
}

.edit-title input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eee;
    opacity: 0.5; /* Firefox */
}

    .edit-title input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #eee;
        opacity: 0.5; /* Firefox */
    }

    .edit-title input::-ms-input-placeholder { /* Microsoft Edge */
        color: #eee;
        opacity: 0.5; /* Firefox */
    }

.edit-slug input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eee;
    opacity: 0.5; /* Firefox */
}

    .edit-slug input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #eee;
        opacity: 0.5; /* Firefox */
    }

    .edit-slug input::-ms-input-placeholder { /* Microsoft Edge */
        color: #eee;
        opacity: 0.5; /* Firefox */
    }
