@media screen and (min-width: 992px) {
    .admmenu {
        width: 4.5rem;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }

    .admin-content {
        position: relative;
        padding-left: 4.5rem;
    }

    .edit-settings {
        width: 15rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

html, body {
    height: 100vh;
}

.admin-page {
    height: 100vh;
}

.admin-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 100vh;
}

.admin-padding {
    padding: 1rem;
}

.cookieConsent {
}

.admmenu {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #333;
    color: #999;
}

.admmenu-item {
    height: 4.5rem;
    width: 100%;
}

.admmenu-item-link {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
    color: #fff;
    opacity: 0.65;
}

    .admmenu-item-link:hover {
        color: #fff;
        opacity: 1;
    }

.admmenu-item-icon {
    display: block;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#editForm {
}

    #editForm .editor-container {
        display: flex;
    }

    #editForm .trumbowyg-box {
        border-radius: 0.25rem;
    }

    #editForm .trumbowyg-box, .trumbowyg-editor {
        min-height: auto;
    }

        #editForm .trumbowyg-box .trumbowyg-button-pane {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }

    #editForm .trumbowyg-editor {
        max-height: calc(100% - 36px) !important;
        height: calc(100% - 36px) !important;
    }

.trumbowyg-filepicker-button svg {
    display: none
}

.trumbowyg-filepicker-button:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    /*content: "\f477";*/
    content: "\f15b";
}

.edit-settingsbar {
    margin: 0;
    padding: 1rem;
    background-color: #333;
    color: #eee;
}

.edit-top {
    padding: 1rem;
    padding-bottom: 0;
    /*background-color: #6c757d;*/
}

    .edit-top #collapseSettings {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border: 1px solid #eee;
        /*margin-top: 25px;*/
        border-radius: 0.25rem;
        margin-left: 0;
        margin-right: 0;
        background-color: #f4f8fb;
    }

    .edit-top .edit-buttons {
        padding-top: 1rem;
        padding-bottom: 1rem;
        /*padding-right: 1rem;*/
    }

    .edit-top .btn-light {
        background-color: #ecf0f1;
        border-color: #ddd;
    }

.edit-title input,
.edit-slug input {
    width: 100%;
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    background: none;
    color: #333;
    outline: none !important;
}

.edit-top .coverimage {
    /*height: 180px;*/
    border: 1px solid #ddd;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0.25rem;
}

    .edit-top .coverimage .coverimageupload {
        margin: 0 !important;
    }

    .edit-top .coverimage .coverimagepicker {
        position: absolute;
        bottom: 0;
        left: 15px;
        height: 24px;
        width: 24px;
        margin: 10px;
        text-align: center;
    }

.edit-top #coverimagepreview {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.edit-title input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999;
    opacity: 0.5; /* Firefox */
}

.edit-title input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #eee;
    opacity: 0.5; /* Firefox */
}

.edit-title input::-ms-input-placeholder { /* Microsoft Edge */
    color: #eee;
    opacity: 0.5; /* Firefox */
}

.edit-slug input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eee;
    opacity: 0.5; /* Firefox */
}

.edit-slug input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #eee;
    opacity: 0.5; /* Firefox */
}

.edit-slug input::-ms-input-placeholder { /* Microsoft Edge */
    color: #eee;
    opacity: 0.5; /* Firefox */
}


.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }


.list-files {
}

    .list-files .file {
        width: 250px;
        /*height: 150px;*/
        margin: 10px;
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 0.25rem;
        background-color: #fff;
    }

        .list-files .file .selected {
            background-color: #ecf0f1;
        }

        .list-files .file img {
            width: 100%;
        }

#filesForm .card-columns {
    padding-top: 20px;
    padding-bottom: 20px;
}

    #filesForm .card-columns .card .card-title {
        white-space: nowrap;
        overflow: hidden;
    }

#fileSelectModal .fileSelectModalImages {
    text-align: center;
}

#fileSelectModal .fileSelectModalFiles {
    text-align: left;
}

#fileSelectModal .fileSelectModalImages div {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 140px;
    height: 140px;
    border-radius: 0.25rem;
    border: 1px solid #eee;
    display: inline-block;
    cursor: pointer;
}
